PICO-8.docset/Contents/Resources/Documents/index.html
PICO-8.docset/Contents/Resources/Documents/ldoc.css
PICO-8.docset/Contents/Resources/Documents/modules/
PICO-8.docset/Contents/Resources/docSet.dsidx
PICO-8.tgz